<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullsail.widget" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity android:name=".ItemActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true">
        </activity>

        <activity android:name=".ListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true">
        </activity>

        <activity android:name=".FormActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true">
        </activity>

        <receiver android:name=".FormWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fullsail.widget.ACTION_VIEW_DETAILS" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/form_appwidget_info" />
        </receiver>

        <service android:name=".FormWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
